{% extends "base.twig" %}

{% block content %}
{# <div class="container-fluid mt-5"> #}
    <div class="container">
        <div class="row">
            <p>Are you using the right link..? 😉</p>
            <p>You're on {{ site.title }} page</p>
        </div>
    </div>
{# </div> #}
{% endblock %}